<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyMovie</title>
    {% load static %}
    <link href="{% static 'css/output.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link href="/website/css/uicons-solid-rounded.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class=" overflow-x-hidden h-full">
    <header class="h-16 w-screen">
        <nav class="flex items-center justify-between h-full px-4 sm:px-6 lg:px-8">
            <!-- Título à esquerda -->
            <div class="titulo text-white text-4xl">
                <a href="{% url 'anilist:home' %}">MyMovie</a>
            </div>

            <!-- Rotas no centro -->
            <div class="flex-1 flex justify-center">
                <ul class="flex gap-6 list-none">
                    <li class="flex text-white justify-center items-center  w-20 h-10 rounded-lg text-lg">
                        <a href="{% url 'anilist:home' %}" class="rotas">Home</a>
                    </li>
                    <li class="flex text-white justify-center items-center  w-20 h-10 rounded-lg text-lg">
                        <a href="{% url 'anilist:lista' %}" class="rotas">Lista</a>
                    </li>
                    <li class="flex text-white justify-center items-center  w-20 h-10 rounded-lg text-lg">
                        <a href="{% url 'anilist:filmes' %}" class="rotas">Filmes</a>
                    </li>
                    <li class="flex text-white justify-center items-center  w-20 h-10 rounded-lg text-lg">
                        <a href="{% url 'anilist:series' %}" class="rotas">Séries</a>
                    </li>
                </ul>
            </div>

            <!-- Pesquisa e login à direita -->
            <div class="flex items-center gap-4">
                <form action="{% url 'anilist:pesquisa'%}" method="GET" class="flex items-center">
                    <input class="font-bold text-md text-white bg-transparent outline-none border-b-2 border-white" type="search" name="q" autocomplete="off" placeholder="Pesquisar">
                </form>

                {% if user.is_authenticated %}
                    <p class="font-bold text-lg text-white">{{ user.username }}</p>
                    <form action="{% url 'anilist:logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="font-bold text-lg text-white">Sair</button>
                    </form>
                {% else %}
                    <a href="{% url 'anilist:login' %}" class="log font-bold text-lg text-white">Login</a>
                {% endif %}
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
<!--js do tailwind-->
<script src="{% static 'js/script.js' %}"></script>
<!-- Toastr JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</body>
</html>