<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyMovie</title>
    {% load static %}
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0&icon_names=menu,chevron_right" />
    <!-- Estilos internos -->
    <link href="{% static 'dist/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/infromação_filme_serie.css' %}">
    <link rel="stylesheet" href="{% static 'css/discover.css' %}">
    
</head>

<body class="">
    <header class="">
        
        <!------------- Mobile: Área de pesquisa ------------>
        <button id="mobile-search-icon" class="mobile-search-icon" onclick="ToggleSearch(event)">
            <img src="{% static 'img/search.svg' %}" class="" alt="">
        </button>

        <div id="content-search-mobile" class="content-search-mobile">
            <form action="{% url 'pesquisa'%}" method="GET" class="search-box-mobile">
                <input class="" type="search" name="q" autocomplete="off" placeholder="Pesquisar">
            </form>
        </div>

        <nav class="navbar" role="navigation" aria-label="Main Navigation">
            
            <!-- Título à esquerda -->
            <div class="logo text-white text-4xl">
                <a href="{% url 'home' %}">MyMovie</a>
            </div>
            
            <!-------------------- Menu hamburguer para mobile ------------------->
            <div class="hamburger-menu">
                <div class="hamburger-icon" onclick=" toggleMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <!--------------- Rotas no centro -------------->
            <div class="content-links">

                <ul class="nav-links flex gap-6">
                    <li class="flex justify-center items-center w-20 h-10 rounded-lg text-lg">
                        <a href="{% url 'home' %}" class="rotas text-white">Inicio</a></li>
                    <li class="flex justify-center items-center w-20 h-10 rounded-lg text-lg">
                        <a href="{% url 'lista' %}" class="rotas text-white">Lista</a></li>
                    <li class="flex justify-center items-center w-20 h-10 rounded-lg text-lg">
                        <a href="{% url 'filmes' %}" class="rotas text-white">Filmes</a></li>
                    <li class="flex text-white justify-center items-center  w-20 h-10 rounded-lg text-lg">
                        <a href="{% url 'series' %}" class="rotas">Séries</a></li>

            <!------------------ MOBILE: USER NO MENU --------------->
                    <li class="mobile-user">
                        
                        {% if user.is_authenticated %}
                            <div class="mobile-user-info">
                                <img src="{% static 'img/usuario1.png' %}" alt="Profile" class="w-10 h-10 rounded-full inline-block">
                                <span class="ml-2 text-white">Minha Conta</span>
                                <ul class="mobile-user-menu">
                                    <li><a href="#" class="block py-2 text-white hover:text-gray-300">Configuração</a></li>
                                    <li>
                                        <form action="{% url 'logout' %}" method="POST" class="block py-2 text-white hover:text-gray-300">
                                        {% csrf_token %}
                                        <button type="submit" class="w-full text-left text-white">Sair</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <div class="mobile-login">
                                <a href="{% url 'login' %}" class="log font-bold text-lg text-white">Login</a>
                            </div>
                        {% endif %}
                    </li>
                    </ul>
            </div>

            <!-- Pesquisa e login à direita -->
            <div class="flex items-center gap-6">
                <form action="{% url 'pesquisa'%}" method="GET" class="search-box flex">
                    <input class=" font-bold text-md text-white outline-none focus:border-b-2 focus:border-white " type="search" name="q" autocomplete="off" placeholder="Pesquisar">
                </form>

                {% if user.is_authenticated %}
                    <div class="account-user relative">
                        <button id="profile-button" class="flex items-center focus:outline-none  border-solid" onclick="clickmenu()">
                            <img src="{% static 'img/usuario1.png' %}" alt="Profile" class="w-10 h-10 rounded-full">
                        </button>
                        <div id="menu" class="hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-2 z-10">
                            <ul>
                                <li><a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Configuração</a></li>
                                <li><form action="{% url 'logout' %}" method="POST" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">
                                {% csrf_token %}
                                <button type="submit" class="w-full text-left">Sair</button>
                                </form></li>
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}" class="log-user font-bold text-lg text-white">Login</a>
                {% endif %}
            </div>  
        </nav>
    </header>

{% block content %}
{% endblock %}

<!--menu-->
<script>
    function clickmenu(){
        if (menu.style.display == 'block') {
            menu.style.display = 'none';
        } else {
            menu.style.display = 'block';
        }
    }
</script>
<!--js do tailwind-->
<script src="{% static 'js/script.js' %}"></script>
<!-- Toastr JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</body>
</html>


