{% extends 'base/base.html' %}
{% load static %}

{% block content %}

{% if serie %}
<!--da informação das series poster, nome, avaliação, genero, descrição do serie-->
<main class="info-movie w-screen">
    <div class="container flex ">

        <!----------- POSTER DA SERIE(poster, name, avaliação, salvar) ------------>
        <div class="poster ">
            <img src="{{serie.poster}}" class="" alt="">

            <!-------------- NOME DA SERIE ------------->
            <h2 class=" text-white size-4 font-bold">{{serie.name}}</h2>

            <!----------------- AVALIAÇÃO --------------------->
            <div class="container-avaliacao">
                <span class="avaliacao">{{  serie.rating  }}</span>
                <span class="avaliacao-max">/10</span>
            </div>

            <!------------- Ser tiver logado adiciona ou remove ---------------->
            {% if user.is_authenticated %}

            <!--------Adicionar e remover da lista------->
            <form class="favorite" id="favorito-form" method="POST">
                {% csrf_token %}

                    <input type="hidden" name="media_id" value="{{serie.id}}">
                    <input type="hidden" name="midia_type" value="tv">
                    {% if esta_na_lista%}    

                        <button id="favorito-btn" class="z-10 text-white font-bold" type="submit" name="action" value="remove">
                            <img id="coracao-img" src="{% static 'img/coração_preenchido.svg' %}" alt="">
                        </button>

                    {% else %}
                        <button id="favorito-btn" class="z-10 text-white font-bold" type="submit" name="action" value="add">
                            <img id="coracao-img" src="{% static 'img/coração_vazio.svg' %}" alt="">
                        </button>

                    {% endif %}
            </form>
            
            <!--------------Se não. vai pra pagina de login----------------->
            {% else %}
            <div class="favorito-deslogado flex">
                    <a href="{% url 'login' %}" class="direct-login ">
                            <img id="coracao-img" src="{% static 'img/coração_vazio.svg' %}" alt="">
                    </a>
                </button>
            </div>
            {% endif %}
        </div>

        <!----------- INFO DO SERIE(genenro, descrição, trailer(talvez)) ------------>
        <div class="info-container">

            <!---------------- GENERO DA SERIE ---------------->
            <div class="tags ">
                {% for genre in serie.genre %}
                    <span class="tag text-white ">{{ genre }}</span>
                {% endfor %}
            </div >

            <!--------------- DESCRIÇÃO DA SERIE---------------->
            <div class="description">
                <h2 class="text-white text-lg ">{{ serie.description }}</h2>
            </div>

        </div>
    </div>
</main>

{% endif %}

{% endblock %}