{% extends 'base/base.html'%}

{% block content %}

<main class="min-h-full w-screen">
    <div class="container-movies flex">
        <ul class="flex flex-wrap w-sreen justify-center ">
            {% for filmes in all_movies %}
                <li class="discovers flex flex-column">
                    <a href="{% url 'filme' filmes.id %}"><img class="bg-white" src="{{ filmes.poster }}" alt=""></a>
                    <a href="{% url 'filme' filmes.id %}"><p class=" text-white font-bold">{{ filmes.name }}</p></a>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="pagination flex justify-center h-10">
        <span class="step-links flex items-center gap-3 text-white top-3">
            {% if page_obj.has_previous %}
                <a href="?page=1" >&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">inicio</a>
            {% endif %}
    
            <ul class="flex items-center">
                {% for num in page_obj.page_range %}
                    {% if num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        {% if num == page_obj.number %}
                            <li class="flex items-center justify-center"><span class="bg-blue-500 w-8 h-8 text-white rounded-full flex items-center justify-center">{{ num }}</span></li>
                        {% else %}
                            <li><a href="?page={{ num }}" class="px-3 py-1"> {{ num }}</a></li>
                        {% endif %}      
                    {% endif %}
                {% endfor %}
            </ul>

            {% if page_obj.has_next %}
                <p>...</p>
                <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}}</a>
                <a href="?page={{ page_obj.next_page_number }}"> &raquo;</a>
            {% endif %}
        </span>
    </div>
</main>

{% endblock %}