{% extends 'base/base.html' %}
{% load static %}

{% block content %}

{% if filme %}
<!--da informação dos filme poster, nome, genero, descrição do filme-->
<main class="info-movie w-screen">
    <div class="container flex ">

        <!----------- POSTER DO FILME(poster, name, avaliação, salvar) ------------>
        <div class="poster ">
            <img src="{{filme.poster}}" class="" alt="">

            <!-------------- NOME DO FILME ------------->
            <h2 class=" text-white size-4 font-bold">{{filme.name}}</h2>

            <!----------------- AVALIAÇÃO --------------------->
            <div class="container-avaliacao">
                <span class="avaliacao">{{  filme.rating  }}</span>
                <span class="avaliacao-max">/10</span>
            </div>

            <!------------- Ser tiver logado adiciona ou remove ---------------->
            {% if user.is_authenticated %}

            <!--------Adicionar e remover da lista------->
            <form class="favorite" id="favorito-form" method="POST">
                {% csrf_token %}

                    <input type="hidden" name="media_id" value="{{filme.id}}">
                    <input type="hidden" name="midia_type" value="movie">
                    {% if esta_na_lista%}    

                        <button id="favorito-btn" class="z-10 text-white font-bold" type="submit" name="action" value="remove">
                            <img id="coracao-img" src="{% static 'img/coração_preenchido.svg' %}" alt="">
                        </button>

                    {% else %}
                        <button id="favorito-btn" class="z-10 text-white font-bold" type="submit" name="action" value="add">
                            <img id="coracao-img" src="{% static 'img/coração_vazio.svg' %}" alt="">
                        </button>

                    {% endif %}
            </form>
            
            <!--------------Se não. vai pra pagina de login----------------->
            {% else %}
            <div class="favorito-deslogado flex">
                    <a href="{% url 'login' %}" class="direct-login ">
                            <img id="coracao-img" src="{% static 'img/coração_vazio.svg' %}" alt="">
                    </a>
                </button>
            </div>
            {% endif %}
        </div>

        <!----------- INFO DO FILME(genenro, descrição, trailer(talvez)) ------------>
        <div class="info-container">

            <!---------------- GENERO DO FILME ---------------->
            <div class="tags">
                {% for genre in filme.genre %}
                    <span class="tag text-white ">{{ genre }}</span>
                {% endfor %}
            </div >

            <!----------------- TRAILER DO FILME ----------------->
            {% if trailer %}
                <div class="trailer">
                    <iframe width="560" height="315" src="{{ trailer }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            {% endif %}

            <!--------------- DESCRIÇÃO DO FILME ---------------->
            <div class="description">
                <h2 class="text-white text-lg ">{{ filme.description }}</h2>
            </div>

        </div>
    </div>
</main>

{% endif %}
{% endblock %}