{% extends 'base/base.html' %}

{% block content %}
<main class="relative flex flex-col w-screen items-center">
    <div class="container-movies flex">
        <ul class='flex flex-wrap w-sreen justify-center'>
            {% for itens in midias %}
                {% if itens.type == 'movie' %}
                    <li class='discovers'>
                        <a href="{% url 'filme' itens.id %}"><img class="" src="{{itens.poster}}" loading="lazy" alt=""></a>
                        <a class='' href="{% url 'filme' itens.id %}"><p class="text-white font-bold">{{itens.name}}</p></a>
                    </li>
                {% endif %}

                {% if itens.type == 'tv' %}
                    <li class='discovers'>
                        <a href="{% url 'serie' itens.id %}""><img class="" src="{{itens.poster}}" loading="lazy" alt=""></a>
                        <a class='' href="{% url 'serie' itens.id %}"><p class="text-white font-bold">{{itens.name}}</p></a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</main>

{% endblock %}