{% extends "base/reset_base.html" %}
{% load static %}
{% block reset %}

<div class="container-send">
    <div class="email-send-container">

        <img src="{% static 'img/paper-plane.svg' %}" class="icon-left" alt="">

        <h1 class="email-title">Email enviado!</h1>

        <img src="{% static 'img/notification.svg' %}" class="icon-right" alt="">

    </div>

    <div class="email-text-container">
        <p class="">Um link para redefinir sua senha foi enviado para o endereço de e-mail fornecido.</p>
        <a href="{% url 'login' %}">Voltar para o login</a>
    </div>
</div>
{% endblock %}