body{
    background-color: rgb(19, 19, 19);
    overflow-x: hidden;
}

.titulo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: beige;
}
.rotas{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: beige;
}

.log{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: beige;
}

.step-links {
    font-weight:800;
}

.list{
    width: 11.85rem;
}